# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.sln.ide
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# NuGet Packages
packages/
*.nupkg
*.snupkg
*.nuspec

# Rider
.idea/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
